body {
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  color: #476FFF;
  font-weight: bold;
}

.btn-right {
  position: absolute;
  right: 50px;
}

/* Navbar Section*/
.navbar .navbar-brand {
  font-weight: bold;
}

.navbar .navbar-brand span {
  color: #1F78FF;
}

/* Hero Section*/
.hero {
  margin-top: 200px;
}

.hero input {
  border: 1px solid #0E00F0;
}

p {
  color: #626262;
  font-weight: normal;
  font-size: 14px;
}

.hero img {
  width: 90%;
}

/* Parnert Section */
#parnert {
  position: relative;
}

#partner .jumbotron {
  height: 600px;
}

#partner img {
  width: 15%;
  /* height: 10%; */
  margin: 0 20px 0 20px;
  object-fit: contain;
}

.info-panel {
  background-color: white;
  border-radius: 25px;
  margin-top: -200px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
}

.info-panel img {
  width: 120px;
  height: 120px;
}

/* choose-us Section*/
#choose-us img {
  width: 80%;
}

/* Bets Seller  Section*/
#best-seller .card {
  width: 18rem;
  border-radius: 10px;
}

#best-seller .card img {
  width: 100%;
  object-fit: cover;
}

.see-detail {
  color: #737373;
  font-size: 18px;
  font-weight: bold;
}

.price {
  color: #5278FF;
  font-size: 18px;
  font-weight: bold;
}

/* Discount  Section*/
#discount .discount-panel {
  /* margin-top: 20%; */
  background-color: #FFF7E3;
  margin-bottom: -10%;
  border-radius: 10px;
  /* height: 395px; */
}

#discount input {
  width: 35%;
}

/* Footer Section */
#footer {
  background-color: #00186F;
  color: white !important;
  z-index: -1;
}

#footer .footer-content {
  padding-top: 15%;
}

/* Mobile Version */
@media only screen and (max-width: 600px) {

  /* Navbar Section */
  .btn-right {
    position: static;
  }

  /* Hero Section */
  .hero {
    margin-top: 20%;
  }

  .hero h1 {
    font-size: 28px;
  }

  /* parnert */
  #partner .jumbotron {
    height: 300px;
  }

  /* Best Seller Section */
  .product-item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .card {
    width: 100% !important;
  }

  /* Discount Section */
  #discount .discount-panel {
    margin-bottom: -22%;
  }
}

/* Ipod Version */
@media only screen and (min-width: 768px) {
  #partner .jumbotron {
    height: 400px;
  }

  .product-item {
    margin-bottom: 30px !important;
  }

  .card {
    width: 100% !important;
  }
}